61968/wsdl/xsd-save/DERGroupForecasts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) by Gerald Gray (Electric Power Research Institute) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:a="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns="http://langdale.com.au/2005/Message#" xmlns:m="http://www.epri.com/2013/DERGroupForecasts#" targetNamespace="http://www.epri.com/2013/DERGroupForecasts#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Draft of DERGroupForecast - This is what is returned on a request for status, assumed to be asked by DERGroup. The group will be optionally identified either by mRID or Names.name. There will also be an identifier for this status, again, using mRID or the Names.name class. The status will return "what can you give me" in terms of power or (?).</xs:documentation>
	</xs:annotation>
	<xs:element name="DERGroupForecasts" type="m:DERGroupForecasts"/>
	<xs:complexType name="DERGroupForecasts">
		<xs:annotation>
			<xs:documentation>The construct that holds 1-to-many forecasts for a given DERGroup</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DERGroupForecast" type="m:DERGroupForecast" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DERGroupForecast">
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
			<xs:element name="Names" type="m:Name" minOccurs="0"/>
			<xs:element name="EndDeviceGroup" type="m:DERGroup"/>
			<xs:element name="PredictionStartDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>The date/time that this forecasts begins on</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PredictionCreationDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>The date/time that this prediction is to be created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PredictionIntervalKind" type="m:PredictionIntervalKind" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is the repeating timeblock, e.g. minutes, hours, days, etc. Example: Give me the forecast at 15 min intervals</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Predictions" type="m:DERPrediction" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This holds a series of forecasts that indicate the interval, confidence, and capability at that interval and confidence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedCapability" type="m:RequestedCapability">
				<xs:annotation>
					<xs:documentation>This is the type capability that the requestor is asking for. An enumeration indicating whether the desired forecast is for real, reactive, or apparent power</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="extensionsList" type="m:extensionsList"/>
	<xs:complexType name="extensionsList">
		<xs:annotation>
			<xs:documentation>This is an optional, self-describing means to extend any MultiSpeak object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extensionsItem" type="m:extensionsItem" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extensionsItem">
		<xs:annotation>
			<xs:documentation>This is an optional means to add self-describing extensions to any class that inherits from the mspObject.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extType" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="extValue">
		<xs:annotation>
			<xs:documentation>This is the value of the extensionsItem.  The units of this extensionsItem are included in the Units attrbute on extValue.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="units" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>If used, this attribute carries the units in which the extValue is expressed. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PredictionIntervalKind">
		<xs:sequence>
			<xs:element name="value" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The numeric portion of the TimeInterval, e.g. in the 15 Min interval request this holds the 15</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeUnit" type="m:TimeUnit" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The enumeration for the TimeInterval, YYYY, MM, DD, hh, mm, ss</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RequestedCapability">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ApparentPower"/>
			<xs:enumeration value="ActivePower"/>
			<xs:enumeration value="ReactivePower"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YYYY"/>
			<xs:enumeration value="MM"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="hh"/>
			<xs:enumeration value="mm"/>
			<xs:enumeration value="ss"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DERGroup">
		<xs:sequence>
			<xs:element name="mRID" type="m:mRID" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID">
				<xs:annotation>
					<xs:documentation>A Model Authority issues mRIDs. Given that each Model Authority has a unique id and this id is part of the mRID, then the mRID is globally unique.</xs:documentation>
					<xs:documentation>Global uniqeness is easily achived by using a UUID for the mRID. It is strongly recommended to do this.</xs:documentation>
					<xs:documentation>For CIMXML data files the mRID is mapped to rdf:ID or rdf:about attributes that identifies CIM object elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names">
				<xs:annotation>
					<xs:documentation>All names of this identified object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
		<xs:annotation>
			<xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name">
				<xs:annotation>
					<xs:documentation>Any free text that name the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameType" type="m:NameType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType">
				<xs:annotation>
					<xs:documentation>Type of this name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
		<xs:annotation>
			<xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName and aliasName as defined in CIM version 14. Their definitions from CIM14 are</xs:documentation>
			<xs:documentation>The localName is a human readable name of the object. It is only used with objects organized in a naming hierarchy. localName: A free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
			<xs:documentation>aliasName: A free text alternate name typically used in tabular reports where the column width is limited.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description">
				<xs:annotation>
					<xs:documentation>Description of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name">
				<xs:annotation>
					<xs:documentation>Name of the name type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority">
				<xs:annotation>
					<xs:documentation>Authority responsible for managing names of this type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
		<xs:annotation>
			<xs:documentation>Authority responsible for creation and management of names of a given type; typically an organization or an enterprise system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description">
				<xs:annotation>
					<xs:documentation>Description of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name">
				<xs:annotation>
					<xs:documentation>Name of the name type authority.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DERPrediction">
		<xs:sequence>
			<xs:element name="sequence" type="xs:integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Which instance of the forecast is this, 1st, 2nd, ..nth...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="confidence" type="m:Percentage" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The confidence of the capability of this interval. The expectation is that as the intervals procede over time, the confidence will be less. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapabilityList" type="m:CapabilityList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>While each of these elements individually is optional (and also optional if this XSD is used only to pass status) when adding or updating a DERGroup one of these elements must be populated. The capability, when used here, is for the DERGroup (the aggregate value of all DERMembers), whereas when used for a particular DER, is the capability for that resource. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherCapability" type="m:otherCapability" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Other capabilities not originally foreseen for this request</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CapabilityList">
		<xs:sequence>
			<xs:element name="minActivePower" type="m:ActivePower" minOccurs="0"/>
			<xs:element name="maxActivePower" type="m:ActivePower" minOccurs="0"/>
			<xs:element name="minApparentPower" type="m:ApparentPower" minOccurs="0"/>
			<xs:element name="maxApparentPower" type="m:ApparentPower" minOccurs="0"/>
			<xs:element name="minReactivePower" type="m:ReactivePower" minOccurs="0"/>
			<xs:element name="maxReactivePower" type="m:ReactivePower" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivePower">
		<xs:annotation>
			<xs:documentation>Expressed in Watts, with a symbol of W.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="m:multiplier"/>
			<xs:element name="unit" type="xs:string" default="W"/>
			<xs:element name="value" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApparentPower">
		<xs:annotation>
			<xs:documentation>Expressed in Volt-Ampere, with a symbol of VA.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="m:multiplier"/>
			<xs:element name="unit" type="xs:string" default="VA"/>
			<xs:element name="value" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReactivePower">
		<xs:annotation>
			<xs:documentation>Expressed in Vars, with a symbol of VAr.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="multiplier" type="m:multiplier"/>
			<xs:element name="unit" type="xs:string" default="VAr"/>
			<xs:element name="value" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="otherCapability">
		<xs:sequence>
			<xs:element name="capabilityType" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="capabilitySubType" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capabilityValue" type="xs:float" minOccurs="0" maxOccurs="1"/>
			<xs:element name="capabilityUnits" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Percentage">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="multiplier">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>For the pruposes of DER the prefixes from milli to giga will be used.
						giga		G	1,000,000,000
						mega	M	1,000,000	
						kilo		k	1,000
						hecto	h	100
						deka		da	10
						deci		d	0.1	10-1
						centi		c	0.01	10-2
						milli		m	0.001	10-3
			</xs:documentation>
			</xs:annotation>
			<xs:enumeration value="G"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="k"/>
			<xs:enumeration value="h"/>
			<xs:enumeration value="da"/>
			<xs:enumeration value="d"/>
			<xs:enumeration value="c"/>
			<xs:enumeration value="m"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mRID">
		<xs:annotation>
			<xs:documentation>This is intended to be a universally unique identifier (UUID) for an instance of an object.  It is intended that this identifier is compliant with the IETF RFC 4122 ("A Universally Unique IDentifier URN Namespace") definition of a UUID. Furthermore, the pattern used to restrict the xs:string should support any of the RFC 4122 UUID variants, including the Microsoft Globally Unique Identifier (GUID) variant of the UUID, without being restricted to supporting ONLY the Microsoft GUID definition.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
