getClientEndpoint/src/getEPR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="newWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/getClientEndpoint/src/newWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/getClientEndpoint/src/newWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/getClientEndpoint/src/newWSDL" xmlns:tns="http://j2ee.netbeans.org/wsdl/getClientEndpoint/src/newWSDL">
            <xsd:complexType name="message">
                <xsd:sequence>
                    <xsd:element name="client" type="xsd:string"/>
                     <xsd:element name="url" type="xsd:string"/>       
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="getEPROperationRequest">
        <part name="part1" type="tns:message"/>
    </message>
    <message name="getEPROperationResponse">
        <part name="part1" type="tns:message"/>
    </message>
    <portType name="getEPRPortType">
        <operation name="getEPROperation">
            <input name="input1" message="tns:getEPROperationRequest"/>
            <output name="output1" message="tns:getEPROperationResponse"/>
        </operation>
    </portType>
    <binding name="getEPRBinding" type="tns:getEPRPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getEPROperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/getClientEndpoint/src/newWSDL"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/getClientEndpoint/src/newWSDL"/>
            </output>
        </operation>
    </binding>
    <service name="getEPRService">
        <port name="getEPRPort" binding="tns:getEPRBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/getEPRService/getEPRPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="getEPR">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="getEPRPortTypeRole" portType="tns:getEPRPortType"/>
    </plnk:partnerLinkType>
</definitions>
